/* Estilo aplicado al elemento padre <section> */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: flex-end;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0px 0px 10px 0px;

}
@media (max-width: 992px){
    ul{
        align-items: flex-end;
    }
}
li{
    margin: 0px 20px 0px 20px;
}
.nav-a{
    color: rgb(111, 100, 150);
}
.nav-a:hover{
    color: rgb(66, 51, 123);
}
/* inicio CSS index.html*/
.titulo-pagina{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: rgb(104, 109, 167);
    font-style: normal;
}    
.parrafo1{
    color: rgb(62, 54, 124);
    padding: 150px;
    font-size: 25px;
    padding-left: 270px;
}

.section1{
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 30px;
}
.contenedor-imagenes1{
    width: 950px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.imagen-inicio{
    width: 100%;
    height: 100%;
}
/* inicio CSS proyectos.html*/

.Titulo-Proyecto{;
    color: rgb(62, 54, 124);
    font-size: 40px;
    padding-top: 30px
}
.Subitulo-Proyecto{
    color: rgb(62, 54, 124);
    font-size: 20px;
}
.section2{
    align-items: center;
    padding-left: 20%;
    padding-right: 15%;
    padding-top: 30px;
}
.linea{
    color: cornflowerblue;
}
.box-image-text{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.imagen-box1{
    width: 300px;
    height: 200px;
    float: left;
}
.parrafo-box1{
    padding-left: 30px;
    padding-top: 30px;
}
/* Sobremi.html */
.section3{
    align-items: center;
    padding-left: 20%;
    padding-right: 15%;
    padding-top: 30px;
}
.imagen-box2{
    width: 400px;
    height: 350px;
    float: left;
}
.boton{
    color: rgb(48, 30, 113);
    width: 150px;
    height: 30px;
}
h3{
    color: rgb(104, 109, 167);
    font-size: 20px;
    font-style: normal;
}    
.parrafo2{
    color: rgb(104, 109, 167);
    font-size: 15px;
    font-style: normal;
}    
h4{
    color: rgb(104, 109, 167);
}    
/*Contacto.html*/

.contacto{
    color: rgb(104, 109, 167);
    font-size: 30px;
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-right: 60px;
}
#nombre{
    margin-top: 45px;
    margin-left: 5px;
    width: 200px;
    height: 20px;
}
#correo{
    margin-top: 45px;
    margin-left: 5px;
    width: 200px;
    height: 20px;
}
#mensaje{
    margin-top: 45px;
    margin-left: 5px;
    width: 200px;
    height: 200px;
}
.box-image-text2{
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center
}
#boton-submit{
    width: 100px;
    height: 30px;
}