/* Estilo aplicado al elemento padre <section> */
*{
    margin: 0;
    padding: 0;
}
p{
    margin-bottom: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: flex-end;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0px 0px 10px 0px;

}
@media (max-width: 991px){
    ul{
        align-items: flex-end;
    }
}
li{
    margin: 0px 20px 0px 20px;
}
.nav-a{
    color: rgb(111, 100, 150);
}
.nav-a:hover{
    color: rgb(66, 51, 123);
}
/* inicio CSS index.html*/
.titulo-sitio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: rgb(104, 109, 167);
    font-style: normal;
}    
.parrafo1{
    color: rgb(62, 54, 124);
    padding: 150px;
    font-size: 25px;
}
.section1{
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 30px;
}
.contenedor-imagenes1{
    width: 950px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.imagen-inicio{
    width: 100%;
    height: 100%;
}
.footer-class{
    width: 100%;
    height: auto;
    padding: 2%;
    background-color: rgb(164, 170, 221);
    color: white;
}
/* inicio CSS proyectos.html y Servicios.html*/

.box-banner2{
    background-color: rgb(190, 190, 233);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
}
.Titulo-pagina{
    color: rgb(62, 54, 124);
    font-family: "Roboto", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Subitulo-pagina{
    color: rgb(62, 54, 124);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.section2{
    align-items: center;
    padding-left: 20%;
    padding-right: 15%;
    padding-top: 30px;
}
.linea{
    color: cornflowerblue;
}
.box-image-text{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.parrafo-box1{
    padding-left: 30px;
    padding-top: 30px;
}
/* Sobremi.html */
.section3{
    align-items: center;
    padding-left: 20%;
    padding-right: 15%;
    padding-top: 30px;
}
.boton-descargar{
    color: rgb(48, 30, 113);
    width: 150px;
    height: 30px;
    margin-left: 5%;
}
h3.h3-class{
    color: rgb(104, 109, 167);
    font-size: 30px;
    font-family: "Roboto", system-ui;
    font-weight: 700;
    font-style: normal;
}
.h4-class{
    color: rgb(104, 109, 167);
    font-size: 17px;
    font-family: "Roboto", system-ui;
    font-weight: 500;
    font-style: normal;
}
.parrafo2{
    color: rgb(104, 109, 167);
    font-size: 15px;
    font-style: normal;
}    
h4{
    color: rgb(104, 109, 167);
}    
@media (max-width: 991px){
    .section-sobremi{
        padding-bottom: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .boton-descargar{
        padding: 0;
        margin: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
/*Contacto.html*/

#titulo-contacto{
    color: rgb(104, 109, 167);
    font-family: "Roboto", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#nombre{
    margin-top: 45px;
    margin-left: 5px;
    width: 200px;
    height: 20px;
}
#correo{
    margin-top: 45px;
    margin-left: 5px;
    width: 200px;
    height: 20px;
}
#mensaje{
    margin-top: 45px;
    margin-left: 5px;
    width: 200px;
    height: 200px;
}
.box-image-text2{
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center
}
